@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    @apply bg-slate-50 text-slate-800; 
font-family: Inter, system-ui, -apple-system, "Segeoe UI", Roboto, "Helvetica Neue", Arial;
}

